*{
    margin: 0%;
    padding: 0;
    font-family:  "Poppins", sans-serif;
}
ul{
    list-style-type: none;
    background-color:gray ; 
    font-weight: 20px;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
   
    
}
li {
    float: left;
    padding-left: 250px; 
   
   
}
li a{
    display: block;
    color: black;
    text-decoration: none;
   
}
li a:hover{
    background-color: rgb(140, 164, 187);
}
.home{
    background-image: url("bg6.jpg");
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 400px;
    background-size: cover;
    overflow: hidden;
}
.text{
    margin-top:380px;
    font-size: 80;
    color: black;
  
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
  
  
  .dd {
    position: relative;
    display: inline-block;
  }
  
 
  .dcnt {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 8;
  }
  
 
  .dcnt a {
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
  }
  
  
  .dcnt a:hover {
    background-color: lightskyblue;
}
  
  
.dd:hover .dcnt {
    display: block;
}
    
h2{
    margin-top: 50px;
    padding: 10px;
    margin-left: 520px;
}
h1{
    color: #fff;
    margin-left: 90px;
    text-align: left;
    margin-left: 10px;
}
h4{
    padding: 5px;
    text-align: center;
}
p{
    padding: 5px;
    text-align: center;
}


.rooms{
    float: left;
    padding: 30px;
    
}
.rooms img{
    width: 250px;
    height: 250px;
    margin-left: 30px;
}
#banner{
     display: flex;
     margin-left: 300px;
}

.small-c h4{
    padding-left: 50px;
}

.small-c h2{
    padding-left: 50px;
}

.small-c p{
    padding-left: 50px;
}
button{
    margin-left: 50px;
    padding-left: 10px;
    background-color:white;
    padding: 10px;
    text-align: center;
    
    
}


.search-btn{
    margin-top: -30px;
    float: right;
    margin-right: 30px;
  
}

footer{
    background-color: grey;
    color:black;
    text-align: center;
}
 